{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock style %}

{% block main %}
<div class="user-box">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'components/_form_errors.html' %}
        <div class="password-reset-form">

            <label for="{{ form.old_password.id_for_label }}" class="email_label">
                Joriy parol:
            </label>
            {{ form.old_password }}

            <label for="{{ form.new_password1.id_for_label }}" class="email_label">
                Yangi parol:
            </label>
            {{ form.new_password1 }}

            <label for="{{ form.new_password2.id_for_label }}" class="email_label">
                Parolni tasdiqlang:
            </label>
            {{ form.new_password2 }}

        </div>
        <button class="form__btn" type="submit">O'zgartirish</button>
    </form>
</div>
{% endblock main %}










